In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("laptop_price.csv", sep=",", encoding="Windows-1251")

In [ ]:
df.sample(5)

### 1.1
Создать новый признак Cpu_Company, который будет содержать только название фирмы, которая произвела CPU

In [3]:
df["Cpu_Company"] = df["Cpu"].apply(lambda x: x.split()[0])

In [ ]:
df.sample(10)

### 1.2
Создать новый признак Memory_Amount, который будет содержать только количество Gb памяти без указания типа носителя

In [28]:
def only_gb(x):
    list_ = x.split()
    if "TB" in list_[0]:
        result = float(list_[0].replace("TB", ""))
        result = result * 1024
    elif "GB" in list_[0]:
        result = float(list_[0].replace("GB", ""))

    return int(result)

In [29]:
df["Memory_Amount"] = df["Memory"].apply(only_gb)

### 1.3
Создать новый признак Memory_Type, который будет содержать только тип носителя (HDD/SDD/др.)

In [23]:
def only_mem_type(x):
    list_split = x.split()
    result_ = []
    for i in list_split:
        if "GB" not in i and "TB" not in i:
            result_.append(i)
    result = " ".join(result_)
    return result

HDD + SDD

In [24]:
df['Memory_Type'] = df['Memory'].apply(only_mem_type)

### 1.4
Удалите признаки Memory и ScreenResolution

In [32]:
df.drop(columns=['Memory', 'ScreenResolution'], inplace=True)

### 2.1
Создайте признак SSD, который изначально равен 0

In [34]:
df['SSD'] = 0

In [40]:
df.loc[df['Memory_Type'] == 'SSD', 'SSD'] = 1
df.loc[df['Memory_Type'] == 'SSD + HDD', 'SSD'] = 1

### 2.3
Уберите в признаке Weight значения 'kg' и поменяйте его тип данных на вещественный

In [44]:
df['Weight'] = df['Weight'].str.replace("kg","").astype('float')

## Задание 3
Создайте датафрейм с клиентами:

```
clients = pd.DataFrame({
    'client_id': [45, 32, 67, 33, 43],
    'laptop_id': [506, 398, 710, 120, 1999]
})
```

### 3.1
Присоедините к таблице clients данные по ноутбукам через метод join
Это нужно, чтобы понимать, какие ноутбуки покупались клиентами
laptop_id - это индексы датафрейма с ноутбуками

In [48]:
clients = pd.DataFrame({
    'client_id': [45, 32, 67, 33, 43],
    'laptop_id': [506, 398, 710, 120, 1999]
})

In [ ]:
clients.head()

In [ ]:
clients_id = clients.set_index('laptop_id')
clients_id.head()

In [ ]:
clients_id.head()

In [ ]:
df_id = df.set_index('laptop_ID')

In [ ]:
df_id.head()

In [56]:
result = clients_id.join(df_id)

In [ ]:
result.head()

### 3.2 
Присоедините к таблице clients данные по ноутбукам через метод merge
Это нужно, чтобы понимать, какие ноутбуки покупались клиентами
laptop_id - это индексы датафрейма с ноутбуками

In [59]:
merged = clients.merge(df, left_on='laptop_id', right_on='laptop_ID')

In [ ]:
merged.head()

In [61]:
df.head(1)

,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
0,1,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37,1339.69,Intel,128,SSD,1

## Задача 4

### 4.1
Найдите среднюю стоимость ноутбуков в зависимости от компании производителя
Отсортируйте от меньшей стоимости к большей

In [ ]:
df.pivot_table(index='Company', values='Price_euros', aggfunc='mean')

### 4.2
Найдите минимальную, среднюю и максимальную стоимости ноутбуков в зависимости от производителя процессора

In [ ]:
df.groupby('Cpu_Company').agg({'Price_euros' : ['min', 'max']})

### 4.3
Постройте таблицу с подсчетом количества ноутбуков в данных в зависимости от производителя CPU и ОЗУ

In [64]:
pd.crosstab(index=df['Cpu_Company'], columns=df['Ram'])

Ram          12GB  16GB  24GB  2GB  32GB  4GB  64GB  6GB  8GB
Cpu_Company
AMD             2     3     0    1     0   31     0   13   12
Intel          23   197     3   21    17  343     1   28  607
Samsung         0     0     0    0     0    1     0    0    0

### 4.4
Постройте таблицу с подсчетом средней стоимости ноутбуков в данных в зависимости от операционной системы и GB памяти

In [71]:
pd.crosstab(index=df['OpSys'], columns=df['Memory_Amount'], values=df['Price_euros'], aggfunc='mean', dropna=False).fillna(0)

Memory_Amount,8,16,32,64,128,180,240,256,500,508,512,1024,2048
OpSys,,,,,,,,,,,,,
Android,0.0,0.00,0.000000,434.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0000
Chrome OS,0.0,305.38,412.454545,774.333333,1275.000000,0.0,0.0,1559.000000,0.000000,0.0,2199.000000,0.000000,0.0000
Linux,0.0,0.00,0.000000,0.000000,742.250000,0.0,0.0,811.638125,389.056364,0.0,0.000000,581.401290,0.0000
Mac OS X,0.0,0.00,0.000000,0.000000,1099.000000,0.0,0.0,1311.994000,0.000000,0.0,1222.000000,0.000000,0.0000
No OS,0.0,0.00,0.000000,0.000000,562.140000,0.0,0.0,782.989286,404.675385,0.0,1098.500000,540.539600,594.0000
Windows 10,2249.0,0.00,270.001471,499.716000,1026.489167,1073.5,3100.0,1334.456872,664.717647,0.0,1911.985285,904.827906,666.9475
Windows 10 S,0.0,0.00,0.000000,308.995000,1039.000000,0.0,0.0,1668.950000,0.000000,0.0,2589.000000,0.000000,0.0000
Windows 7,0.0,0.00,0.000000,0.000000,1320.323333,1199.0,0.0,1846.466800,924.048333,1002.0,2235.396667,1539.666667,0.0000
macOS,0.0,0.00,0.000000,0.000000,1119.315000,0.0,0.0,1600.370000,0.000000,0.0,2180.870000,0.000000,0.0000